<div class="page-header text-center">
	<h1>{{foto.titulo}}</h1>
</div>

<p ng-show="mensagem.length" class="alert alert-info">{{mensagem}}</p>


<form novalidate name="formulario" class="row" ng-submit="submeter()">
	<div class="col s6">

		<label>Título</label>
		<input name="titulo" class="form-control" ng-model="foto.titulo" required>  

		<span ng-show = "formulario.$submitted && formulario.titulo.$error.required"
			class="form-control alert-danger">
			Título obrigatório
		</span>
		<span ng-show="formulario.$submitted && formulario.titulo.$error.maxlength" 
			class="form-control alert-danger">
			No máximo 20 caracteres!
		</span>
		
		
		<label>URL</label>
		<input name="url" class="form-control" ng-model="foto.url" required>

		<span ng-show = "formulario.$submitted && formulario.url.$error.required" 
			class="form-control alert-danger">
			URL obrigatória
		</span> 
	
	
		<label>Descrição</label>
		<textarea name="descricao" class="materialize-textarea" ng-model="foto.descricao">
		</textarea>
		
		<label>Grupo</label>		 
		<select name="grupo" ng-model="foto.grupo"
				class="browser-default"  
				required ng-controller="GruposController" 
				ng-options="grupo._id as (grupo.nome | uppercase) for grupo in grupos">
			<option value="" disabled selected>Escolha um grupo</option>
		</select>		
		<span ng-show="formulario.$submitted && formulario.grupo.$error.required" 
			class="form-control alert-danger">
			Grupo obrigatório
		</span>

		 <div class="input-field col s12">
			<button type="submit" class="waves-effect waves-light btn" ng-disabled="formulario.$invalid">
				Salvar
			</button>
			<a href="/#/fotos" class="waves-effect waves-light btn">Voltar</a>
		</div>
		
	</div>
	<div class="col s5 offset-s1">
		<minha-foto url="{{foto.url}}" titulo="{{foto.titulo}}"></minha-foto>
	</div>
</form>